version: '3.7'
services:
  app:
    build: .
    container_name: ${APP_NAME:-go-arch}-app
    volumes:
      - .:/app
      - /app/tmp
    ports:
      - "3001:3000"
      - "51186:50051"
    networks:
      - app-network
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  postgres_test:
    hostname: postgres
    image: postgres:latest
    container_name: ${APP_NAME:-go-arch}-db-test
    restart: always
    ports:
      - ${DB_PORT_TEST}:5433
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}

  postgres:
    hostname: postgres
    image: postgres:latest
    container_name: ${APP_NAME:-go-arch}-db
    restart: always
    volumes:
      - ./docker/postgresql/tmp:/var/lib/postgresql/data
      - app-data:/var/lib/postgresql/data
    ports:
      - ${DB_PORT}:5432
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    networks:
        - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ${DB_NAME}"]
      interval: 3s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: 'rabbitmq:3.13-management'
    container_name: ${APP_NAME}-rabbitmq
    ports:
      # The standard AMQP protocol port
      - '5672:5672'
      # HTTP management UI
      - '15672:15672'
    environment:
      # The location of the RabbitMQ server.  "amqp" is the protocol;
      # "rabbitmq" is the hostname.  Note that there is not a guarantee
      # that the server will start first!  Telling the pika client library
      # to try multiple times gets around this ordering issue.
      AMQP_URL: 'amqp://rabbitmq?connection_attempts=5&retry_delay=5'
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  prometheus:
    image: prom/prometheus
    volumes:
      - ./deployments/development/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - app-network

  grafana:
    image: grafana/grafana
    ports:
      - "3002:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - app-network

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    volumes:
      - ./deployments/development/otel/otel-config.yml:/etc/otel-config.yml
    command: ["--config", "/etc/otel-config.yml"]
    ports:
      - "4317:4317"  # For OTLP traces
      - "4318:4318"  # For OTLP traces
      - "8889:8889"  # Prometheus metrics
    networks:
      - app-network

  jaeger:
    image: jaegertracing/all-in-one:1.56
    environment:
      COLLECTOR_ZIPKIN_HTTP_PORT: 9411
    ports:
      - "16686:16686"  # Jaeger UI
      - "14268:14268"  # Jaeger collector endpoint
    networks:
      - app-network

volumes:
  app-data:
  grafana_data:

networks:
  app-network:
    driver: bridge