name: "Continuous Integration"
on:
  push:
    branches:
      - main
      - 'release/*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main
jobs:
    run_code_checks:
        runs-on: ubuntu-latest

        services:
          rabbitmq:
            image: rabbitmq:3-management
            ports:
              - 5672:5672
              - 15672:15672
            options: --health-cmd "rabbitmqctl status" --health-interval 5s --health-timeout 10s

        steps:
          - name: Checkout repository code
            uses: actions/checkout@v5

          - name: Setup Go
            uses: actions/setup-go@v6
            with:
              go-version-file: 'go.mod'
          - run: go version

          - name: Install dependencies
            run: go mod download

          - name: Create .env for CI
            run: |
              echo "APP_ENV=test" >> .env

          - name: Run Linting
            run: |
              go vet ./...

          - name: Run Tests
            run: |
              go test -v ./...
              go test -v -cover ./...

          - name: Run Tests With Coverage
            run: |
              go test -v -coverprofile=coverage.txt ./...
              go tool cover -func=coverage.txt

          - name: Generate HTML Coverage Report
            run: |
              go tool cover -html=coverage.txt -o coverage.html

          - name: Upload Coverage Artifacts
            uses: actions/upload-artifact@v4
            with:
              name: coverage-reports
              path: |
                coverage.txt
                coverage.html

          - name: Upload coverage reports to Codecov
            uses: codecov/codecov-action@v5
            with:
              token: ${{ secrets.CODECOV_TOKEN }}

    publish:
      name: Publish Docker Image
      needs: ci
      runs-on: ubuntu-latest

      if: startsWith(github.ref, 'refs/tags/')

      steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Extract tag
          id: tag
          run: |
            TAG=${GITHUB_REF#refs/tags/}
            echo "TAG=$TAG" >> $GITHUB_OUTPUT

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}

        - name: Build & Push Docker Image
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: |
              racibaz/go-arch:${{ steps.tag.outputs.TAG }}
              racibaz/go-arch:latest