name: "Continuous Integration"
on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main
jobs:
    run_code_checks:
        runs-on: ubuntu-latest

        services:
          rabbitmq:
            image: rabbitmq:3-management
            ports:
              - 5672:5672
              - 15672:15672
            options: --health-cmd "rabbitmqctl status" --health-interval 5s --health-timeout 10s

        steps:
          - name: Checkout repository code
            uses: actions/checkout@v5
          - name: Setup Go
            uses: actions/setup-go@v6
            with:
              go-version-file: 'go.mod'
          - run: go version
          - name: Create .env for CI
            run: |
              echo "APP_ENV=test" >> .env
          - name: Run Linting
            run: |
              go vet ./...
          - name: Run Tests
            run: |
              go test -v ./...
              go test -v -cover ./...
          - name: Run Tests With Coverage
            run: |
              go test -v -coverprofile=coverage.out ./...
              go tool cover -func=coverage.out
          - name: Generate HTML Coverage Report
            run: |
              go tool cover -html=coverage.out -o coverage.html
          - name: Upload Coverage Artifacts
            uses: actions/upload-artifact@v4
            with:
              name: coverage-reports
              path: |
                coverage.out
                coverage.html