name: "Continuous Integration"
on:
  push:
    branches:
      - main
      - 'release/*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
    run_code_checks:
        name: Run Code Checks and Tests
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository code
            uses: actions/checkout@v5

          - name: Setup Go
            uses: actions/setup-go@v6
            with:
              go-version-file: 'go.mod'
          - run: go version

          - name: Install dependencies
            run: go mod download

          - name: Create .env for CI
            run: |
              echo "APP_ENV=test" >> .env

          - name: Run Linting
            run: |
              go vet ./...

          - name: Run Tests
            run: |
              go test -v ./...
              go test -v -cover ./...

          - name: Run Tests With Coverage
            run: |
              go test -v -coverprofile=coverage.txt ./...
              go tool cover -func=coverage.txt

          - name: Generate HTML Coverage Report
            run: |
              go tool cover -html=coverage.txt -o coverage.html

          - name: Upload Coverage Artifacts
            uses: actions/upload-artifact@v4
            with:
              name: coverage-reports
              path: |
                coverage.txt
                coverage.html

          - name: Upload coverage reports to Codecov
            uses: codecov/codecov-action@v5
            with:
              token: ${{ secrets.CODECOV_TOKEN }}

    publish:
      name: Publish Docker Image
      needs: run_code_checks
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Extract tag
          id: tag
          run: |
            TAG=${GITHUB_REF#refs/tags/}
            echo "TAG=$TAG" >> $GITHUB_OUTPUT

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}

        - name: Build & Push Docker Image
          uses: docker/build-push-action@v6
          with:
            push: true
            tags: |
              ${{ secrets.DOCKERHUB_REPOSITORY }}:${{ steps.tag.outputs.TAG }}
              ${{ secrets.DOCKERHUB_REPOSITORY }}:${{ secrets.DOCKERHUB_IMAGE_TAG }}